<p>
 <strong>name:</strong>
 <%= @user.name %>
</p>

<p>
 <strong>address:</strong>
 <%= @user.address %>
</p>

<p>
 <strong>phone_number:</strong>
 <%= @user.phone_number %>
</p>

<p>
 <strong>date_of_birth:</strong>
 <%= @user.date_of_birth %>
</p>


<h2>Extras</h2>
<%= render @user.extras %> 

<h2>Add a extra:</h2>
<%= render 'extras/form' %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
